*.pyc
*.pyo
*.egg-info
*.egg
*.db
buildout/bin/
buildout/parts/
buildout/develop-eggs/
buildout/dev/
buildout/.installed.cfg
buildout/.mr.developer.cfg
buildout/var
._*
.DS_Store
*~
*.swp
.swp
buildout/venv
